<div id="footer">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4 col-sm-6">
                       <p class="contacts__text">
                       <strong>Dirección</strong><br>
                       3400 Corrientes Capital<br><br>
                       <strong>CONTACTO</strong><br>
                       <i class="fa fa-at"></i> Email: FacundoF1@hotmail.com.ar<br>
                       <i class="fa fa-whatsapp"></i> Celular: +54 (0) 379-5052-639<br></p>
                       </div>
                     <div class="col-md-2 col-sm-6">
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-square-o fa-stack-2x"></i>
                         <i class="fa fa-facebook fa-stack-1x"></i>
                       </span>
                       facebook<br>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                        twitter<br>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                        linkedin<br>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-snapchat fa-stack-1x"></i>
                        </span>
                        snapchat<br>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-skype fa-stack-1x"></i>
                        </span>
                        skype<br>
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-square-o fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x"></i>
                        </span>
                        Gmail+<br>
                     </div>
                     <div class="col-md-2  col-sm-4">
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-html5 fa-stack-1x"></i>
                       </span> HTML5<br>
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-css3 fa-stack-1x"></i>
                       </span> CSS3<br>
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-pie-chart fa-spin fa-1x fa-fw"></i>
                       </span> Bootstrap<br>
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
                       </span> Ajax<br>
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-database fa-stack-1x"></i>
                       </span> Mysql<br>
                       <span class="fa-stack fa-lg">
                         <i class="fa fa-exchange fa-stack-1x"></i>
                       </span> PhP<br>
                    </div>
                    <div class="col-md-2 col-sm-4">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-linux fa-stack-1x"></i>
                      </span> Linux<br>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-windows fa-stack-1x"></i>
                      </span> Windows<br>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-git fa-stack-1x"></i>
                      </span> Git<br>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-github fa-stack-1x"></i>
                      </span> GitHub<br>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-bitbucket fa-stack-1x"></i>
                      </span> Bitbucket<br>
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-angle-double-right fa-stack-1x"></i>
                      </span> Laravel<br>
                    </div>
                    <div class="col-md-2 col-sm-4">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-external-link fa-stack-1x"></i>
                      </span> Trabajos:<hr><br>
                      <a href="http://www.codedev.tk">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-chain-broken fa-stack-1x"></i>
                      </span></a> Page!<br>
                      <a href="http://www.campeonatonea.hol.es">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-chain-broken fa-stack-1x"></i>
                      </span></a> La Tabela!<br>
                    </div>
                  </div>
                  <hr>
                  <div class="row copy">
                    <div class="col-md-12">
                     {{ copy }}
                    <br>
                  </div>
                </div>
              </div>
        </div>